* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.5;
    font-family: "Times New Roman", Georgia, Serif;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}

p {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

.part1 {
    display: flex;
    padding-top: 40px;
}

.picture1 {
    width: 50%;
    padding: 0 15px;
}

.picture1 > img {
    width: 100%;
    padding: 40px 40px;
    border-radius: 20px;
    border: 7px solid rgb(68, 137, 171);
}

/* .picture > img:hover {
    width: 100%;
    height: 100%;
    border: unset;
    border-radius: unset;
    transform: unset;
} */

.picture1 > p {
    text-align: center;
}

.content-part {
    text-align: center;
    width: 70%;
    padding: 30px 15px;
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 45px;
    border-radius: 20px;

}

.content-part p {
    font-family: "Playfair Display";
    letter-spacing: 5px;
    padding: 10px 0;
}

.sub-intro {
    opacity: 0.6;
}

.intro {
    font-size: 36px;
}

/* part 2 */

.part2{
    display: flex;
    padding: 30px 15px;
    justify-content: center;
    align-items: center;
}

.mem-card {
    width: 33.33%;
    /* height: 400px; */
    /* border-radius: 10px; */
    text-align: center;
    margin: 0 30px;
    overflow: hidden; 
    /* phần bị dư ra sẽ được giấu đi */
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

.picture2 {
    width: 100%;
}

.picture2 > img {
    /* width: 100%; */
    border-radius: 20px;
    overflow: hidden;
    padding: 30px 30px;
    height: 500px;
    border: 7px solid rgb(68, 137, 171);
}

.content-part2 {
    padding: 30px 15px;
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

/* lead in and clock count */

.lead-in {
    text-align: center;
    padding: 30px 15px;
}

.lead-in p {
    font-size: 30px;
}

.time {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    gap: 40px;
}

.circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(174,228,238,1) 21%, rgba(165,148,233,0.9531162806919643) 90%);
}

.circle > div {
    font-size: 24px;
    color: rgb(53, 38, 44);
}

/* wishes */

.wishes {
    display: flex;

}

.content-part3{
    width: 70%;
    padding: 30px 15px;
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
    margin: 30px 45px;
    border-radius: 20px;
}

.picture3 {
    width: 30%;
    margin: 30px 15px;
}

.picture3 > img {
    width: 100%;
    border: 7px solid rgb(68, 137, 171);
    border-radius: 20px;
    padding: 30px;
}

.content-part3 p {
    text-align: center;
}

/* part 4 */

.gallery {
    display: flex;
    margin-top: 45px;
}

.pic-card-part4 {
    width: 25%;
    margin: 30px 15px;
}

.pic-card-part4 img {
    width: 100%;
    border-radius: 20px;
    border: 7px solid rgb(68, 137, 171);
    padding: 30px;
}

.card-content {
    text-align: center;
    /* background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
    border-radius: 10px;
    margin-top: 15px;
}

.last {
    margin: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
    border: 7px solid rgb(42, 165, 143);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.last p {
    padding: 15px 30px;
}
